@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --codepen-black: #131417;
    --codepen-teal: #47cf73;
    --codepen-blue: #0ebeff;
    --codepen-purple: #ae63e4;
  }

  * {
    @apply border-border;
  }

  body {
    font-family: 'Lato', sans-serif;
    @apply antialiased min-h-screen;
    background-color: var(--codepen-black);
    color: #ffffff;
  }

  h1 {
    @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
  }

  h2 {
    @apply scroll-m-20 text-3xl font-semibold tracking-tight first:mt-0;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
  }

  p {
    @apply leading-7 [&:not(:first-child)]:mt-6;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
  }

  button {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
  }
}